* {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

main form {
    margin-top: 20px;
    display: flex;
    width: 675px;
    flex-direction: column;
    margin-bottom: 20px;
}

main img {
    height: 500px;
}

.container-name {
    display: flex;
    margin: 20px 10px;
}

.container-email-house {
    display: flex;
    margin: 0 10px;
}

.container-familia {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 70px;
}

.container-radio {
    display: flex;
    margin-top: 5px;
}

.container-familia-conteudo {
    display: flex;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.container-conteudo-linha {
    display: flex;
    margin-top: 5px;
}



=======
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

#logo img {
  height: 80px;
  padding: 9px;
}

.trybewarts-login {
  display: flex;
}
>>>>>>> 3f624055a6dc9f082620b4ec88529e9d0a776e39
